pyTelegramBotAPI==4.14.0
Flask==3.0.0
requests==2.31.0
beautifulsoup4==4.12.2
aiohttp==3.9.1
Pillow==10.1.0
qrcode==7.4.2
cryptography==42.0.5
python-whois==0.8.0
python-nmap==0.7.1
phonenumbers==8.13.28
gTTS==2.4.0
